.transition {
  transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
}
.shadow {
  -moz-box-shadow: 2px 2px 15px #666;
  -webkit-box-shadow: 2px 2px 15px #666;
  box-shadow: 2px 2px 15px #666;
}
@-webkit-keyframes slowDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slowDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slowDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes slowDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slowDown-slide {
  -webkit-animation-name: slowDown;
  -moz-animation-name: slowDown;
  -o-animation-name: slowDown;
  animation-name: slowDown;
  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  animation-duration: .4s;
  display: block;
}
