/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
*/

*,
body,
html {
    margin: 0px;
    padding: 0px;
    font-family: 'MyriadSetPro-Thin', calibri, Helvetica, "Microsoft YaHei",Arial, "宋体", sans-serif;
}

div,
span,
dl,
dt,
dd,
ul,
ol,
li,
fieldset,
lengend,
button,
input,
pre,
address,
cite,
dfn,
em,
var,
del,
p,
blockquote {
    font-size: 16px;
}
a{outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* 清除内外边距 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */

body,
button,
input,
select,
textarea {
    /* for ie */
    font: 12px/1 'MyriadSetPro-Thin', calibri, Helvetica, "Microsoft YaHei",Arial, "宋体", sans-serif;
}

h1 {
    font-size: 18px;
    /* 18px / 12px = 1.5 */
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

/* 将斜体扶正 */

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

/* 统一等宽字体 */

small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */

ul,
ol {
    list-style: none;
}

/* 重置文本格式元素 */

a {
    text-decoration: none;
}

abbr[title],
acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before,
q:after {
    content: '';
}

/* 重置表单元素 */

legend {
    color: #000;
}

/* for ie6 */

fieldset {
    border: none;
}

/* img 搭车：让链接里的 img 无边框 */

/*Img border in a's and image quality*/

img {
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    /* Firefox 3.6+ */
    vertical-align: middle;
}

/* 注：optgroup 无法扶正 */

button,
input,
select,
textarea {
    outline: none;
    border: none;
    font-size: 100%;
    background: transparent;
    /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */

hr {
    border: none;
    height: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

@font-face {
    font-family: 'iconfont';  /* project id 420665 */
    src: url('../font/iconfont/iconfont.eot'),
     url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
     url('../font/iconfont/iconfont.woff2') format('woff2'),
     url('../font/iconfont/iconfont.woff') format('woff'),
     url('../font/iconfont/iconfont.ttf') format('truetype'),
     url('../font/iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix {
    zoom: 1;
}
